html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color1);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;
}

select {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--color2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: var(--color5);
}